---
layout: default
---

<div id="header">
    <img src="assets/images/logo_femme_couleur.png" alt="Logo Kernavélo" height="64" />
</div>
<div id="map"></div>
<div id="info" class="hidden">
    Mon texte d'information
</div>
<!-- <div class="home h-entry">
     <div id="intro" class="container-fluid">
     <div class="container-md">	  
     <h1>Alter plan Kernavélo</h1>
     <p>À Kernavélo, on a des idées pour mieux se déplacer dans la ville et aux alentours </p>
     <a class="btn" href="propositions">Voir nos propositions</a>
     </div>
     </div>
     <div id="message" class="container-fluid">
     <div class="container-md">
     <div class="row">
	   <div class="col-md">
	   <h4>Ça chauffe</h4>
	   <p>15°C au dessus des normales de saisons en juin. À vélo, avec un bon chapeau et à l'air libre, pas besoin d'allumer la clim.</p>
	   </div>
	   <div class="col-md">
	   <h4>La voiture individuelle coûte cher</h4>
	   <p>Une augmentation de l'essence de plus de 40% en 5 ans, et ce n'est pas parti pour s'arrêter (conflits, épuisement des ressources). Il est temps de faire de la place pour d'autres moyen de transports</p>
	   </div>
	   <div class="col-md">
	   <h4>De la place sur la route</h4>
	   <p>Il y a de la place pour tout le monde sur la route. Il suffit d'organiser l'espace, et d'harmoniser les vitesses de chacun</p>
	   </div>
     </div>
     </div>
     </div>
     <div id="intro--map" class="container-fluid">
     <div class="container-md">
     <div class="row">
	   <h2>Nos propositions</h2>
     </div>
     <div class="row">
	   <h4>L'idée générale</h4>
	   <p>Ce plan présente nos propositions d'aménagements cyclable. Ce maillage doit permettre de se déplacer de façon efficace et sécurisé dans Quimper et ses alentours.</p>
	   <img src="assets/images/map_overview.png" alt="" width="100%" />
     </div>
     </div>
     </div>
     <!-- <iframe src="map/index.html" id="map-wrapper" tabindex="0"></div> -->


<!-- </div> -->
