---
layout: default
---
<article class="page">

  <div class="backlink"><a href="/">Revenir aux propositions</a></div>

  <div class="container page-header no-cover" aria-label="Header">
    <div class="row">
      <div class="col-lg-12">
        <header>
          <h1 class="page-title">{{ page.title | escape }}</h1>
        </header>
      </div>
    </div>
  </div>

  <div class="container page-content" aria-label="Content">
    <div class="row">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
  </div>

</article>
