#header{
    position: absolute;
    z-index: 50;
    top: 32px;
    left: 32px;
    
}
#intro{
    background: url(../assets/images/cover_alterplan.png);
    background-size: cover;
    background-position: 50%;
    padding: 4rem 0;
    color: white;

    h1{
	margin-top: 0;
    }
}
