#map{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
}
#info{
    position: absolute;
    background: rgba(0,0,0,0.65);
    padding: 0.5rem 0.75rem;
    color: #FFF;
    border-radius: 4px;
    
    &.visible{
	opacity: 1;
    }
    &.hidden{
	opacity: 0;
    }
}

