:root {
    --font-family-sans: WorkSans, Helvetica, Arial, sans-serif;
    --font-family-head: FivoHeavy, Helvetica, Arial, sans-serif;
    --font-family-serif: Signifier, Times, serif;
    --font-family-monospace: Nitti, Liberation Mono, Courier, monospace;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #fff045;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-light: #dfdfdf;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --gray-light: #BCC7D1;
    --gray-lighter: #DCE2E8;
    --light: #f8f9fa;
    --dark-darker: #131011;
    --dark: #181b1e;
    --dark-l: #494c51;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
