<footer class="site-footer h-card">
</footer>

<script src="{{ "assets/js/data_lines.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/data_points.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/all.js" | absolute_url }}" type="text/javascript"></script>
