<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="{{ "/assets/images/thomasguesnon_social_thumb.jpg" | absolute_url }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    
    <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | absolute_url }}">

   <!--  <\!-- Leaflet -\-> -->
   <!--   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" -->
   <!--   integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" -->
   <!-- 	   crossorigin=""/> -->
     
   <!--   <\!-- Make sure you put this AFTER Leaflet's CSS -\-> -->
   <!--   <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" -->
   <!--   integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" -->
   <!-- 	     crossorigin=""></script> -->
     
   <!-- <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script> -->
   <!-- <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' /> -->

   <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
   <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
   <!-- <script src="assets/js/popper.min.js"></script> -->
   <!-- <script src="assets/js/bootstrap.min.js"></script> -->

</head>
